body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.topnav {
    overflow: hidden;
    background-image: linear-gradient(skyblue,white);
}
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #2196F3;
    color: white;
}
.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
}



span{
    color: orange;
}
.food-network{
    display: flex;
}
.half-width {
    margin-top: 0%;
    width: 50%;
    padding-left: 3%;
    padding-right: 6%;
  }
.order-button{
    
    font-weight: 700;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px;
    border-radius: 20px;
    
}
.fast-img{
    width: 80%;
    padding: 2%;
}
.about-me{
    margin-top: 10%;
    width: 50%;
    padding-left: 5%;
    padding-right: 6%;
     
    
    
}
.top-banar{
    background-image: url(shapes/background-img.png);
    background-repeat: no-repeat;
}

.scend-img{
    width: 100%;
    padding: 5%;
}
#grey-recipies {
    text-align: center;
  
    color: grey;
    font-size: 35px;
    font-weight: bolder;
}
.recipe-center {
    text-align: center;
    margin-left: 350px;
  }
 .food-cover{
    
     height: 250px;
 }
.recipiea-img{
    border-radius: 28px;
    width: 70%;
   padding: 5%;
}
.recipies-title{
    border-radius: 28px;
    
    margin-top: 2%;
    margin-left: 30px;
    margin-right: 20px;
    width: 70%;
    padding: 2%;
   
    box-shadow: 10px 10px 40px gray;
   border-image-slice: 1;
}
.social{
    text-align: center;
    border-radius: 25px;
    margin: 10px 20px;
    overflow: hidden;
    
    box-shadow: 10px 10px 40px gray;
   border-image-slice: 1;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
}
.fa-facebook {
     background: #283d6b;
     color: white;
     padding: 10px;
     border-radius: 70px;
  
}
.fa-twitter {
    background: #55ACEE;
    margin: 10px;
    padding: 10px;
    color: white;
    border-radius: 70px;
  
}
.fa-instagram{
background-image:linear-gradient(blue,red,orange);
padding: 10px;
border-radius: 70px;

  
}
.fa-linkedin{
    background: rgb(31, 31, 95);
    padding: 10px;
    border-radius: 70px;
}

footer{
    text-align: center;
    background-color: black;
    color: white;
}
